@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  /* font-family: inherit; */
  font-size: 16px;
  color: #333;
}
iframe#webpack-dev-server-client-overlay {
  display: none;
}
.raphaplus-layout-container {
  display: flex;
  padding-top: 88px;
  width: 100%;
  min-height: 100vh;
}
.cursor-pointer {
  cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.timeSelect .ant-select-dropdown {
  top: 0px !important;
  z-index: 9999;
}
.ml-auto {
  margin-left: auto;
}
.table-responsive-sm {
  overflow: scroll;
}
.h-fit {
  height: fit-content;
}

.point-symptoms {
  height: 16px;
  width: 16px;
  background-color: #222e62;
  border-radius: 50%;
}

.w-full {
  width: 100%;
}

.ant-tabs-ink-bar {
  display: none;
}

.ant-tabs-tab-btn {
  color: #252b61 !important;
  font-weight: 500;
  font-size: 18px;
}

.ant-tabs-nav::before {
  display: none;
}

.ant-tabs-tab {
  height: 45px;
}

@media (max-width: 675px) {
  .ant-picker-panels{
    flex-direction:column;
  }
}

.ant-tabs-nav {
  .ant-tabs-nav-wrap {
    .ant-tabs-nav-list {
      border-radius: 14px;
      padding: 0.5rem;
      background: #e9f2fd;
      .ant-tabs-tab-active {
        background-color: #fff;
        border-radius: 10px;
        padding: 0.5rem 1rem;
      }
    }
  }
  &::before {
    bottom: -10px;
  }
}

.font-outfit {
  font-family: "Outfit", "Poppins", sans-serif !important;
}

.pac-container {
  z-index: 10000000000000000000 !important;
}

.ant-form textarea,
.ant-form input,
.ant-form .ant-input-outlined,
.ant-form .ant-input-affix-wrapper {
  border: 1px solid #aeaeae;
}

.ant-form .ant-select-selector {
  border: 1px solid #aeaeae !important;
}
